/* This contains the scss for the about component */

//Libraries -->
@import "../../../styles/base.modules";

//Commencing the code -->
.main {
    //border: 1px solid green;
    @include size(100%, 70%);
    top: 95%;
    @include flexBar($align: center, $justify: center, $gap: 3%);
    left: 0%;
    font-family: "Inter";

    @include tabletPro {
        top: 50%;
        height: 40%;
    }

    @include tablet {
        top: 64%;
        height: 40%;
    }

    @include tabletMini {
        top: 64%;
        height: 40%;
    }

    @include phonePro {
        top: 95%;
        height: 80%;
        flex-direction: column;
        gap: 0%;
        //width: 100%;
    }
    
    @include phone {
        height: 80%;
        top: 97%;
    }

    @include phoneMini {
        height: 100%;
        flex-direction: column;
        gap: 0%;
        //top: 100%;
        //width: 100%;
    }

    .left {
        //border: 1px solid red;
        @include flexBar($position: relative, $align: flex-end, $justify: center, $flex_d: column, $gap: 0%);
        @include size(30%, 80%);

        @include tabletPro {
            width: 40%;
        }

        @include tabletMini {
            @include size(40%, 80%);
        }

        @include phonePro {
            @include size(80%, 45%);
            border-bottom: 1px solid $primary-color;
        }

        @include phoneMini {
            justify-content: flex-start;
        }

        .span1 {
            //border: 1px solid red;
            @include text-layout($size: 13px, $l_height: 20px, $color: $text-color-4);
            @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 0%);
            @include size(100%, 5%);
            left: 4%;
            //margin-bottom: -35px;

            @include tabletPro {
                //height: 5%;
            }

            @include phonePro {
                width: 100%;
                text-align: center;
                left: 0%;
                justify-content: center;
                font-size: 12px;
            }

            @include phoneMini {
                //height: 5%;
            }
        }

        h3 {
            //border: 1px solid red;
            @include text-layout($size: 40px, $l_height: 45px, $color: $primary-color, $weight: 600);
            @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 0%);
            @include size(100%, 13%);
            margin-top: 5px;
            font-family: "Aclonica";

            @include tablet {
                margin-top: 5px;
                font-size: 30px;
            }

            @include tabletMini {
                margin-top: 5px;
                font-size: 25px;
            }

            @include phonePro {
                justify-content: center;
                margin-top: 5px;
                font-size: 25px;
                height: 10%;
                text-align: center;
            }

            @include phoneMini {
                font-size: 20px;
            }
        }

        .span2 {
            //border: 1px solid red;
            @include text-layout($size: 14px, $l_height: 23px, $color: $text-color-2);
            @include flexBar($position: relative, $align: flex-end, $justify: center, $flex_d: column, $gap: 0%);
            @include size(100%, 60%);
            //text-align: end;

            @include tablet {
                line-height: 20px;
            }

            @include tabletMini {
                font-size: 12px;
                line-height: 17px;
            }

            @include phonePro {
                font-size: 12px;
                line-height: 20px;
                height: 65%;
                text-align: center;
                margin-bottom: 10px;
            }

            @include phone {
                line-height: 16px;
            }

            @include phoneMini {
                font-size: 10px;
                line-height: 15px;
                position: relative;
                top: 5%;
            }
        }
    }

    .right {
        //border: 1px solid red;
        @include flexBar($position: relative, $align: center, $justify: center, $flex_d: column, $gap: 1%);
        @include size(40%, 80%);

        @include tablet {
            width: 45%;
        }

        @include tabletMini {
            @include size(45%, 80%);
        }

        @include phonePro {
            @include size(80%, 50%);
        }

        .bio {
            //border: 1px solid red;
            @include flexBar($position: relative, $align: center, $justify: center, $flex_d: column, $gap: 0%);
            @include size(100%, 35%);
            border-bottom: 1px solid $text-color-3;

            h5 {
                //border: 1px solid red;
                @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 0%);
                @include size(100%, 20%);
                margin-top: 0px;
                margin-bottom: 0px;
                font-family: "Aclonica";
                @include text-layout($size: 16px, $l_height: 30px, $color: $primary-color, $weight: 500);

                @include phonePro {
                    font-size: 14px;
                }

                @include phoneMini {
                    font-size: 12px;
                }
            }

            .biodatas {
                //border: 1px solid black;
                @include flexBar($position: relative, $align: center, $justify: center, $flex_d: column, $gap: 0%);
                @include size(100%, 70%);

                .name, .age, .gender, .nation {
                    //border: 1px solid purple;
                    @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 0%);
                    @include size(100%, 23%);
                    @include text-layout($size: 12px, $l_height: 30px, $color: $text-color-2, $weight: 600);

                    .label {
                       //border: 1px solid red;
                        @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 5%);
                        @include size(20%, 100%);

                        @include tabletPro {
                            //border: 1px solid red;
                            width: 30%;
                        }

                        @include tablet {
                            width: 40%;
                        }

                        @include tabletMini {
                            width: 40%;
                        }

                        @include phonePro {
                            //border: 1px solid red;
                            width: 35%;
                        }

                        @include phoneMini {
                            //border: 1px solid red;
                            width: 40%;
                            font-size: 10px;
                        }

                        .icon {
                            color: $text-color-4;
                            font-size: 1rem;
                        }
                    }

                    .bioInfo {
                        font-weight: 500;
                        //border: 1px solid red;
                        @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 5%);
                        @include size(30%, 100%);
                        left: 2%;

                        @include phonePro {
                            //border: 1px solid red;
                            width: 35%;
                        }

                        @include phoneMini {
                            //border: 1px solid red;
                            width: 40%;
                            font-size: 10px;
                        }
                    }
                }
            }
        }

        .hobby {
            //border: 1px solid red;
            @include flexBar($position: relative, $align: center, $justify: center, $flex_d: column, $gap: 5%);
            @include size(100%, 20%);
            border-bottom: 1px solid $text-color-3;

            h5 {
                //border: 1px solid red;
                @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 0%);
                @include size(100%, 30%);
                margin-top: 0px;
                margin-bottom: 0px;
                font-family: "Aclonica";
                @include text-layout($size: 16px, $l_height: 30px, $color: $primary-color, $weight: 500);

                @include phonePro {
                    font-size: 14px;
                }

                @include phoneMini {
                    font-size: 12px;
                }
            }

            .hobbies {
                //border: 1px solid red;
                @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 2%);
                @include size(100%, 30%);

                @include tablet {
                    //border: 1px solid black;
                    font-size: 9px;
                    @include size(100%, 50%);
                    overflow: hidden;
                    flex-wrap: wrap;
                    flex-flow: wrap;
                }

                @include phonePro {
                    //border: 1px solid black;
                    font-size: 9px;
                    @include size(100%, 50%);
                    overflow: hidden;
                    flex-wrap: wrap;
                    flex-flow: wrap;
                }

                .code, .music, .travel, .reading, .sleep, .food {
                    //border: 1px solid black;
                    @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 5%);
                    @include size(15%, 100%);

                    @include tabletPro {
                        //border: 1px solid black;
                        width: 20%;
                    }

                    

                    @include tablet {
                        @include size(22%, 40%);
                    }

                    @include phonePro {
                        //border: 1px solid black;
                        @include size(22%, 30%);
                    }

                    @include phoneMini {
                        //border: 1px solid black;
                        width: 25%;
                        font-size: 9px;
                    }

                    .icon {
                        color: $text-color-4;
                        font-size: 1rem; 

                        @include phoneMini {
                            font-size: 0.5rem;
                         }
                    }

                    span {
                        @include text-layout($size: 12px, $l_height: 30px, $color: $text-color-2, $weight: 600);

                        @include phoneMini {
                           font-size: 8px;
                        }
    
                    }
                }

                .code {
                    width: 12%;

                    @include tabletPro {
                        width: 16%;
                    }

                    @include tabletMini {
                        width: 20%;
                    }

                    @include phonePro {
                        width: 20%;
                    }
                }

                .travel {
                    @include phonePro {
                        width: 25%;
                    }
                }

                .reading {

                    @include tabletPro {
                        width: 18%;
                    }
                }

                .music {
                    width: 10%;

                    @include tabletPro {
                        width: 15%;
                    }

                    @include tablet {
                        width: 15%;
                    }

                    @include phonePro {
                        //border: 1px solid black;
                        width: 20%;
                    }
                }

                .sleep {
                    width: 12%;

                    @include tabletPro {
                        width: 17%;
                    }

                    @include tablet {
                        width: 20%;
                    }

                    @include phonePro {
                        width: 23%;
                    }
                }
            }
        }

        .language {
            //border: 1px solid red;
            @include flexBar($position: relative, $align: center, $justify: center, $flex_d: column, $gap: 0%);
            @include size(100%, 35%);

            h5 {
                //border: 1px solid red;
                @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 0%);
                @include size(100%, 25%);
                margin-top: 0px;
                margin-bottom: 0px;
                font-family: "Aclonica";
                @include text-layout($size: 16px, $l_height: 30px, $color: $primary-color, $weight: 500);

                @include phonePro {
                    font-size: 14px;
                }

                @include phoneMini {
                    font-size: 12px;
                }
            }

            .languages {
                //border: 1px solid red;
                @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 2%);
                @include size(100%, 70%);
                @include text-layout($size: 12px, $l_height: 30px, $color: $text-color-2, $weight: 600);

                @include phonePro {
                    @include size(100%, 60%);
                }

                @include phoneMini {
                    font-size: 10px;
                }

                .igbo, .english, .chinese {
                    //border: 1px solid red;
                    @include flexBar($position: relative, $align: center, $justify: flex-start, $flex_d: column, $gap: 0%);
                    @include size(15%, 90%);

                    @include tabletPro {
                        width: 23%;
                    }

                    @include tablet {
                        width: 22%;
                    }

                    @include tabletMini {
                        width: 22%;
                    }

                    @include phonePro {
                        width: 23%;
                    }

                    @include phonePro {
                        font-size: 12px;
                    }

                    @include phoneMini {
                        font-size: 10px;
                    }

                    .circle {
                        @include flexBar($position: relative, $align: center, $justify: center, $gap: 0%);
                        top: 0.5%;
                        left: 7%;
                        text-align: center;
                        @include size(85%, 83%);
                        border-radius: 100%;
                        background-color: #ffffff;
                      }
                      
                      .circle_border {
                        @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 0%);
                        text-align: center;
                        @include size(80%, 80%);
                        //margin-left: 30%;
                        border-radius: 100%;
                        //background-color: #E53B3B;
                        background: linear-gradient(270deg, $primary-color 100%, transparent 30%), linear-gradient(0deg, $primary-color 50%, $text-color-3 50%)
                      }

                      .title {
                        //border: 1px solid red;
                        @include flexBar($position: relative, $align: center, $justify: center, $gap: 0%);
                        @include size(80%, 20%);
                        top: 3%;

                        @include phoneMini {
                            font-size: 10px;
                        }
                    }
                }

                .chinese {
                    .circle {
                       // display: none;
                        top: 0.5%;
                        left: 7.7%;
                      }

                    .circle_border {
                        background: linear-gradient(280deg, $primary-color 16%, transparent 10%), linear-gradient(-70deg, $primary-color 10%, $text-color-3 10%)
                      }
                }

                

                // .igbo::before {
                //     content: "";
                //     position: absolute;
                //     top: -10%;
                //     left: -10%;
                //     width: 120%;
                //     height: 120%;
                //     //background: red; /* specify the desired color */
                //     transform: rotate(45deg);
                //     z-index: 1;
                //   }
                  
                //   .igbo::after {
                //     content: "";
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     width: 100%;
                //     height: 100%;
                //     border: 10px solid blue; /* specify the desired color */
                //     border-radius: inherit;
                //     box-sizing: border-box;
                //     z-index: 2;
                //   }
            }
        }
    }
}