/* This contains the scss for the header component */

//Libraries -->
@import "../../../styles/base.modules";

//Commencing the code -->
.header {
    //border: 1px solid red;
    @include max-size;
    @include size($height: 7%);
    margin: 0px;
    left: 0px;
    top: 0px;
    @include flexBar($align: center, $justify: space-between);
    padding: 1% 0%;
    //background-color: $primary-color;

    @include tabletPro {
        //border: 1px solid black;
        height: 5%;
        //width: 100%;
    }

    @include tablet {
        //border: 1px solid black;
        height: 5%;
        //width: 100%;
    }

    @include tabletMini {
        //border: 1px solid black;
        display: none;
    }

    @include phonePro {
        //border: 1px solid black;
        display: none;
    }

    @include phone {
        //border: 1px solid black;
        display: none;
    }

    .logo {
        //border: 1px solid red;
        @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 0%);
        @include size(10%, 100%);
        left: 2%;

        img {
            //border: 1px solid black;
            position: relative;
            object-fit: contain;
            @include size(100%, 100%);
        }

        span {
            //border: 1px solid red;
            @include text-layout($size: 18px, $l_height: 27px, $color: $primary-color, $weight: 600);
        }
    }

    .category {
        //border: 1px solid green;
        @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 3%);
        @include size(40%, 100%);
        left: -5%;
        font-family: "Poppins";

        @include tabletPro {
            left: -5%;
            width: 55%;
        }

        @include tablet {
            //border: 1px solid black;
            width: 60%;
            gap: 1%;
            //width: 100%;
        }

        button {
            border: none;
            @include text-layout($size: 14px, $l_height: 27px, $color: $text-color-4, $weight: 600);
            background-color: transparent;
            transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
            @include flexBar($position: relative, $align: center, $justify: center, $gap: 2%);

            &:hover {
                color: $primary-color;
                //font-weight: 700;
                transform: scale(1.1);
            }
        }
    }
}

.socials {
    //border: 1px solid red;
    @include flexBar($position: fixed, $align: center, $justify: center, $flex_d: row, $gap: 4%);
    @include size(3%, 100%);
    z-index: 10;
    //top


    @include tabletMini {
        height: 50%;
    }

    @include phonePro {
        height: 50%;
    }

    @include phone {
        height: 70%;
    }

    @include phoneMini {
        height: 70%;
    }

    .container {
        //border: 1px solid black;
        @include flexBar ($position: relative, $align: center, $justify: center, $gap: 5%, $flex_d: column);
        @include size(100%, 40%);
        //top: -50%;
        
        button {
            border: none;
            background-color: transparent;
            transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
            color: $text-color-4;
            
            &:hover {
                transform: scale(1.05);
            }
        }

        .twitter:hover {
            color: rgb(21, 137, 253);
        }
        
        .whatsapp:hover {
            color: rgb(21, 209, 21);
        }
        
        .instagram:hover {
            color: #e9497e;
        }
        
        .facebook:hover {
            color: rgb(30, 30, 255);
        }

        .linkedin:hover {
            color: rgb(30, 30, 255);
        }

        .github:hover {
            color: black;
        }
    }
    //height: 100%;
}

.contactModal {
    //border: 1px solid blue;
    @include size ($width: 100%, $height: 610%);
    @include flexBar ($align: flex-start, $justify: center, $gap: 1%, $flex_d: row, $flex: none);
    background-color: rgba(0, 0, 0, 0.4);
    left: 0%;
    top: 0%;
    font-family: "Inter";
    z-index: 100;

    @include tabletPro {
        height: 307%;
    }

    @include tablet {
        height: 342%;
    }

    @include tabletMini {
        height: 352%;
    }

    @include phonePro {
        height: 492%;
    }

    @include phone {
        height: 512%;
    }

    @include phoneMini {
        border: 1px solid blue;
        height: 597%;
    }

    .container {
        //border: 1px solid red;
        @include flexBar ($position: sticky, $align: center, $justify: flex-start, $gap: 0%, $flex_d: row);
        @include size(60%, 500px);
        top: 15%;
        z-index: 200;
        border-radius: 10px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.2);

        @include tabletPro {
            @include size(80%, 550px);
        }

        @include tablet {
            @include size(90%, 550px);
        }

        @include tabletMini {
            @include size(90%, 550px);
        }

        @include phonePro {
            @include size(90%, 650px);
            flex-direction: column-reverse;
            top: 7%;
        }

        @include phoneMini {
            top: 5%;
            height: 550px;
        }
    
        .image {
            //border: 1px solid black;
            @include flexBar ($position: relative, $align: center, $justify: space-between, $gap: 1%, $flex_d: column);
            @include size(30%, 100%);
            border-radius: 10px 0px 0px 10px;
            overflow: hidden;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://drive.google.com/uc?export=download&id=1wPg8X3MF-Kymuu5g5pNe6FRcMZp9ie61');
            background-size: cover;
            background-position: right;
            background-repeat: no-repeat;

            @include tabletPro {
                background-position: 90%;
            }

            @include tablet {
                background-position: 89%;
            }

            @include tabletMini {
                background-position: 89%;
            }

            @include phonePro {
                @include size(100%, 30%);
                background-position: left 80%;
                //background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../../public/images/contact1.jpg');
                border-radius: 0px 0px 10px 10px;
            }

            .contacts {
                //border: 1px solid red;
                @include flexBar ($position: relative, $align: center, $justify: center, $gap: 1%, $flex_d: column);
                @include size(90%, 60%);
                top: 2%;
                @include text-layout($size: 15px, $l_height: 25px, $color: $tertiary-color);

                @include phonePro {
                    height: 70%;
                } 

                .officeAddress, .phoneNumber, .emailAddress {
                    //border: 1px solid black;
                    @include flexBar ($position: relative, $align: center, $justify: center, $gap: 2%, $flex_d: column);
                    @include size(100%, 25%);

                    @include phonePro {
                        height: 32%;
                    //border: 1px solid red;
                    //font-size: 13px;
                    }

                    .head {
                        //border: 1px solid red;
                        @include flexBar ($position: relative, $align: center, $justify: flex-start, $gap: 3%, $flex_d: row);
                        @include size(100%, 35%);
                        

                        .icon {
                            //border: 1px solid red;
                            color: $primary-color;
                            @include flexBar ($position: relative, $align: center, $justify: flex-start, $gap: 1%, $flex_d: row);
                        }

                        span {
                            //border: 1px solid red;
                            @include flexBar ($position: relative, $align: center, $justify: flex-start, $gap: 1%, $flex_d: row);
                            @include size(70%, 100%);
                            
                            @include phoneMini {
                                font-size: 13px;
                            }
                        }
                    }

                    .brief {
                        //border: 1px solid red;
                        @include flexBar ($position: relative, $align: flex-start, $justify: flex-start, $gap: 1%, $flex_d: row);
                        @include size(80%, 50%);
                        font-size: 12px;
                        line-height: 18px;
                        //text-align: start;

                        

                        @include tablet {
                            //border: 1px solid red;
                            font-size: 11px;
                        }

                        @include tabletMini {
                            //border: 1px solid red;
                            font-size: 10px;
                        }

                        br {
                            @include phonePro {
                                display: none;
                            }      
                        }

                        @include phone {
                            width: 90%;
                            left: 4%;
                        } 

                        @include phoneMini {
                            width: 95%;
                            font-size: 10px;
                            left: 7%;
                        } 
                        
                    }
                }

                // .officeAddress {
                    
                // }

                .emailAddress {
                    //border: 1px solid red;
                    top: -6%;
                }
            }

            .imgSocials {
                //border: 1px solid black;
                @include flexBar ($position: relative, $align: center, $justify: center, $gap: 2%);
                @include size(90%, 7%);
                top: -1%;
                
                @include phonePro {
                    //border: 1px solid red;
                    justify-content: flex-start;
                    height: 10%;
                    top: -5%;
                    gap: 2%;
                } 

                @include phoneMini {
                    gap: 3%;
                    font-size: 1rem;
                } 

                button {
                    @include flexBar ($position: relative, $align: center, $justify: center, $gap: 2%, $flex_d: row);
                    @include size(17%, 100%);
                    border: none;
                    color: $tertiary-color;
                    background-color: transparent;
                    //border: 1px solid red;
                    //color: $primary-color;

                    @include phonePro {
                        width: 10%;
                    } 
                }

                .twitter:hover {
                    color: rgb(21, 137, 253);
                }
                
                .whatsapp:hover {
                    color: rgb(21, 209, 21);
                }
                
                .instagram:hover {
                    color: #e9497e;
                }
                
                .facebook:hover {
                    color: rgb(30, 30, 255);
                }

                .linkedin:hover {
                    color: rgb(30, 30, 255);
                }

                .github:hover {
                    color: black;
                }
            }
        }
        
        .form {
            //border: 1px solid red;
            @include flexBar ($position: relative, $wrap: none, $align: center, $justify: center, $gap: 1%, $flex_d: column, $flex: none);
            @include size(70%, 100%);
            background-color: $tertiary-color;
            border-radius: 0px 10px 10px 0px;

            @include phone {
                width: 100%;
            }

            @include phonePro {
                @include size(100%, 70%);
                border-radius: 10px 10px 0px 0px;
            }

            header {
                //border: 1px solid red;
                @include flexBar ($position: relative, $align: center, $justify: flex-end, $gap: 1%, $flex_d: row);
                @include size(90%, 7%);
                top: -20%;

                @include tablet {
                    top: -20%;
                }

                @include phone {
                    top: -20%;
                }

                button {
                    border: 1px solid $tertiary-color;
                    background-color: $tertiary-color;
                    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
            
                    &:hover {
                        border-radius: 5px;
                        transform: scale(1.01);
                        box-shadow: 0px 2px 4px rgba(52, 69, 99, 0.18);
                    }
                }
            }

            .brief {
                //border: 1px solid red;
                @include flexBar ($position: relative, $align: flex-start, $justify: flex-start, $gap: 1%, $flex_d: column);
                @include size(90%, 10%);
                @include text-layout($size: 16px, $color: $text-color-1, $l_height: 24px);
                top: -20%;

                @include phoneMini {
                    font-size: 13px;
                }

                #brief_2 {
                    color: $text-color-3;
                    font-size: 12.5px;

                    @include phoneMini {
                        font-size: 11px;
                    }
                }
            }

            form {
                //border: 1px solid red;
                @include size(90%, 70%);
                @include flexBar ($position: relative, $align: center, $justify: center, $gap: 5%, $flex_d: column);
                
                :focus {
                    outline-color: rgb(108, 140, 199);
                }

                .div_1,
                .div_2,
                .div_3 {
                    //border: 1px solid $primary-color; 
                    border-radius: 4px;
                    @include size(100%, 13%);  
                    @include flexBar ($position: relative, $align: center, $justify: center, $gap: 1%, $flex_d: row); 
                    
                    input, 
                    textarea {
                        //border: 1px solid red;
                        border-bottom: 1px solid $text-color-3;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        @include flexBar ($position: relative, $align: center, $justify: center, $gap: 1%, $flex_d: row);
                        @include size(90%, 90%); 
                        padding: 1% 3%;
                        
                    }

                    ::placeholder {
                        position: relative;
                        font-size: 16px;
                        overflow-x: hidden;
                        overflow-y: hidden;
                        //left: 5%;

                        @include phonePro {
                            font-size: 14px;
                        }

                        @include phoneMini {
                            font-size: 10px;
                        }
                      }
                }

                .div_1 {
                    justify-content: space-between;
                    font-family: "Inter";
                    //border: 1px solid transparent;

                    .div_11,
                    .div_12 {
                        //border: 1px solid red;
                        border-radius: 4px;
                        @include size(45%, 100%);  
                        @include flexBar ($position: relative, $align: center, $justify: center, $gap: 1%, $flex_d: row);

                        input {
                            //display: none;
                            
                            @include flexBar ($position: relative, $align: center, $justify: center, $gap: 1%, $flex_d: row);
                            //@include size(100%, 100%);
                            padding: 1% 6%; 
                        }
                    }
                }

                .div_2 {
                    justify-content: space-between;
                    .div_21,
                    .div_22 {
                        //border: 1px solid red;
                        border-radius: 4px;
                        @include size(45%, 100%);  
                        @include flexBar ($position: relative, $align: center, $justify: center, $gap: 1%, $flex_d: row);

                        input {
                            //display: none;
                            //border: 1px solid yellow;
                            @include flexBar ($position: relative, $align: center, $justify: center, $gap: 1%, $flex_d: row);
                            //@include size(100%, 100%);
                            padding: 1% 6%; 
                        }
                    }
                }

                .div_3 {
                    height: 43%;
                    //border: 1px solid black;

                    textarea {
                        //border: 1px solid red;
                        //position: relative;
                        @include size(95%, 90%);
                    }

                    ::placeholder {
                        left: 0%;
                        font-size: 17px;
                        //font-family: "Inter";
                        //border: 1px solid red;

                        @include phonePro {
                            font-size: 15px;
                        }

                        @include phoneMini {
                            font-size: 11px;
                        }
                    }
                }

                button {
                    border: 1px solid $primary-color; 
                    @include size(100%, 14%);
                    border-radius: 5px;
                    background-color: $primary-color;
                    @include text-layout($size: 16px, $color: $tertiary-color, $l_height: 24px);
                    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

                    @include phoneMini {
                        font-size: 13px;
                    }
            
                    &:hover {
                        border-radius: 5px;
                        transform: scale(1.01);
                        box-shadow: 0px 2px 4px rgba(52, 69, 99, 0.18);
                    }
                }
            }

            .instruction {
                //border: 1px solid red;
                width: 90%;
                position: relative;
                top: -15%;

                @include phoneMini {
                    font-size: 12px;
                }
            }
        }
    }
}

.inActiveContactModal {
    display: none;
}


%mobile_Header {
    //border: 1px solid red;
    display: flex;
    @include max-size;
    @include size($height: 7%);
    margin: 0px;
    left: 0px;
    top: 0px;
    @include flexBar($align: center, $justify: space-between);
    padding: 1% 0%;

    .logo {
        //border: 1px solid red;
        @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 0%);
        @include size(20%, 80%);
        left: 5%;

        img {
            //border: 1px solid black;
            position: relative;
            object-fit: contain;
            @include size(100%, 100%);
        }

        span {
            //border: 1px solid red;
            @include text-layout($size: 18px, $l_height: 27px, $color: $primary-color, $weight: 600);
        }
    }

    button {
        @include flexBar($position: relative, $align: center, $justify: center, $gap: 0%);
        background-color: $tertiary-color;
        border: none;
        left: -5%;
        color: $text-color-4;

        .icon {
            font-size: 2rem;
        }
    }
}

.mobileHeader {
    @extend %mobile_Header;
    //border: 1px solid red;

    @include desktop {
        display: none;
        //border: 1px solid red;
    }

    @include tabletPro {
        display: none;
    }

    @include tablet {
        display: none;
    }

    @include tabletMini {
        display: flex;
    }

    @include phonePro {
        //border: 1px solid green;
        //height: 65px;
    }

    @include phone {
        //height: 55px;
    }

    @include phoneMini {
        //height: 45px;
    }
}

%menuBar {
    //border: 1px solid red;
    @include size ($width: 40%, $height: 26.5%);
    @include flexBar ($align: center, $justify: flex-start, $gap: 0%, $flex_d: column, $flex: none);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: $tertiary-color;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    font-family: "Poppins";
    border-radius: 10px 0px 0px 0px;
    //transform: translateX(-0%);

    button {
        border: none;
        border-bottom: 1px solid $primary-color;
        @include size ($width: 90%, $height: 6%);
        @include flexBar ($position: relative, $align: center, $justify: center, $gap: 1%, $flex: none);
        @include text-layout($size: 20px, $l_height: 35px, $color: $text-color-4, $weight: 600);
        background-color: $tertiary-color;
        //z-index: 100;

        @include phonePro {
            font-size: 18px;
         }

         @include phone {
            font-size: 16px;
         }

         @include phoneMini {
            font-size: 14px;
        }
    }

   

    @include desktop {
        display: none;
        //border: 1px solid red;
    }

    @include tabletPro {
        display: none;
    }

    @include tablet {
        display: none;
    }

    @include tabletMini {
        display: flex;
    }

    @include phonePro {
       width: 70%;
    }

    @include phone {
        width: 70%;
     }
}

.activeMenuModal {
    //border: 1px solid blue;
    @include size ($width: 100%, $height: 343%);
    @include flexBar ($align: flex-start, $justify: flex-end, $gap: 1%, $flex_d: row, $flex: none);
    background-color: rgba(0, 0, 0, 0.4);
    left: 0%;
    top: 9%;
    z-index: 100;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

    @include desktop {
        display: none;
        //border: 1px solid red;
    }

    @include tabletPro {
        display: none;
    }

    @include tablet {
        display: none;
    }

    @include tabletMini {
        display: flex;
    }

    @include phonePro {
        top: 8%;
        height: 485%;
    }

    @include phonePro {
        height: 504%;
    }

    @include phoneMini {
        height: 590%;
    }

    .activeMenu {
        @extend %menuBar;
        transform: translateX(0%);

        @include phonePro {
            
        }
    }
    
    .inActiveMenu {
        @extend %menuBar;
        //display: none;
        transform: translateX(100%);
    }
}

.inActiveMenuModal {
    display: none;
}



