/* This contains the scss for the footer component */

//Libraries -->
@import "../../../styles/base.modules";

//Commencing the code -->
.main {
    //border: 1px solid black;
    @include size(100%, 50px);
    top: 600%;
    font-family: "Inter";
    //border-top: 1px solid $primary-color;
    @include flexBar($align: center, $justify: center, $flex_d: column, $gap: 5%);
    left: 0%;
    background-image: linear-gradient(to bottom, $tertiary-color, $tertiary-color, $primary-color);
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.2), 0px 6px 12px rgba(0, 0, 0, 0.2);

    @include tabletPro {
        top: 300%;
        height: 50px;
    }

    @include tablet {
        top: 335%;
        height: 50px;
    }

    @include tabletMini {
        top: 345%;
        height: 50px;
    }

    @include phonePro {
        //@include size(40%, 100%);
        top: 485%;
        height: 50px;
    }

    @include phone {
        //@include size(40%, 100%);
        top: 505%;
        height: 50px;
    }

    @include phoneMini {
        //@include size(40%, 100%);
        top: 590%;
        height: 50px;
    }

    .container {
        border-top: 1px solid $primary-color;
        @include flexBar($align: center, $justify: center, $flex_d: column, $gap: 5%);
        @include size(100%, 100%);

        .div1 {
            //border: 1px solid red;
            @include flexBar($position: relative, $align: center, $justify: space-between, $gap: 0%);
            @include size(100%, 60%);
    
            .logo {
                //border: 1px solid red;
                @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 0%);
                @include size(5%, 100%);
                left: 5%;
                //top: 2%;
        
                img {
                    //border: 1px solid black;
                    position: relative;
                    object-fit: contain;
                    @include size(100%, 100%);

                    @include phonePro {
                        height: 200%;
                    }
                }
        
                span {
                    //border: 1px solid red;
                    @include text-layout($size: 18px, $l_height: 27px, $color: $primary-color, $weight: 600);
                }
            }
        
            button {
                border: none;
                color: $primary-color;
                background-color: transparent;
                transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
                @include flexBar($position: relative, $align: center, $justify: center, $gap: 2%);
                box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.2), 0px 6px 12px rgba(0, 0, 0, 0.2);
                left: -2%;
                @include size(1rem, 1rem);
                border-radius: 100%;
    
                &:hover {
                    color: $primary-color;
                    //font-weight: 700;
                    transform: scale(1.1);
                }
            }
        }
    
        .div2 {
            ///border: 1px solid red;
            @include flexBar($position: relative, $align: center, $justify: center, $gap: 0%);
            @include size(100%, 20%);
            @include text-layout($size: 10px, $l_height: 22px, $color: $text-color-4);
        }
    }

    
}