/* This contains the scss for the header component */

//Libraries -->
@import "../../../styles/base.modules";

//Commencing the code -->
.main {
    border: 1px solid red;
    @include flexBar($align: center, $justify: center, $gap: 3%);
    top: 11%;
    left: 0px;
    padding: 1% 1%;
    @include size(98%, 70%);

    @include tabletPro {
        top: 6.5%;
        height: 40%;
    }

    @include tablet {
        top: 6.5%;
        height: 50%;
        //width: 100%;
    }

    @include tabletMini {
        top: 9%;
        height: 50%;
        //width: 100%;
    }

    @include phonePro {
        top: 8%;
        height: 80%;
        flex-direction: column;
        gap: 0%;
        //width: 100%;
    }

    @include phone {
        top: 8%;
        height: 85%;
        flex-direction: column;
        gap: 0%;
        //width: 100%;
    }

    .image {
        border: 1px solid red;
        @include flexBar($position: relative, $align: center, $justify: flex-end, $gap: 0%);
        @include size(35%, 80%);

        @include phonePro {
            justify-content: center;
            @include size(80%, 30%);
        }

        @include phone {
            justify-content: center;
            @include size(80%, 30%);
        }

        .imageFrame {
            border: 10px solid $text-color-4;
            //border-image-slice: 3;
            //border-image-source: linear-gradient(to right, $text-color-3, $tertiary-color, $text-color-3);
            @include flexBar($position: relative, $align: center, $justify: center, $gap: 0%);
            @include size(250px, 250px);
            border-radius: 100%;
            box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.3), 0px 6px 12px rgba(0, 0, 0, 0.3);
            overflow: hidden;

            @include phonePro {
                @include size(210px, 210px);
            }

            @include phone {
                @include size(210px, 210px);
            }

            @include phoneMini {
                @include size(160px, 160px);
            }

            img {
                position: relative;
                object-fit: cover;
                @include size(100%, 100%);
            }
        }
    }

    .brief {
        border: 1px solid red;
        @include flexBar($position: relative, $align: flex-start, $justify: center, $flex_d: column, $gap: 0%);
        @include size(50%, 90%);

        @include phonePro {
            @include size(80%, 62%);
        }

        @include phone {
            @include size(80%, 62%);
        }

        @include phoneMini {
            justify-content: flex-start;
        }

        .brief1 {
            border: 1px solid red;
            @include text-layout($size: 13px, $l_height: 27px, $color: $text-color-4);
            position: relative;
            top: -2%;

            @include tabletMini {
                top: 0%;
            }

            @include phonePro {
                top: 0%;
                width: 100%;
                text-align: center;
                font-size: 12px;
            }

            @include phoneMini {
                font-size: 12px;
                height: 5%;
                top: 4%;
            }
        }

        .brief2 {
            position: relative;
            border: 1px solid red;
            @include text-layout($size: 35px, $l_height: 45px, $color: $primary-color, $weight: 600);

            @include tablet {
                margin-top: 0px;
                font-size: 30px;
            }

            @include tabletMini {
                margin-top: 0px;
                font-size: 30px;
            }

            @include phonePro {
                margin-top: 0px;
                font-size: 25px;
                width: 100%;
                text-align: center;
            }

            @include phoneMini {
                margin-top: 0px;
                font-size: 20px;
                @include size(100%, 7%);
                text-align: center;
                top: 3%;
            }
        }

        .brief3 {
            border: 1px solid red;
            @include flexBar($position: relative, $align: flex-start, $justify: center, $gap: 1%);
            @include size(80%, 30%);
            @include text-layout($size: 14px, $l_height: 23px, $color: $text-color-2);
            top: 5%;

            @include tabletMini {
                width: 100%;
            }

            @include phonePro {
                @include size(100%, 40%);
                text-align: center;
            }

            @include phoneMini {
                font-size: 12px;
                line-height: 20px;
                top: 8%;
            }
        }

        .buttons {
            @include flexBar($position: relative, $align: center, $justify: flex-start, $flex_d: row, $gap: 6%);
            border: 1px solid red;
            @include size(50%, 13%);
            top: 9%;

            @include tablet {
                @include size(60%, 10%);
            }
            
            @include tabletMini {
                @include size(70%, 10%);
            }

            @include phonePro {
                @include size(100%, 29%);
                flex-direction: column;
            }

            @include phone {
                top: 9%;
                height: 25%;
            }

            @include phoneMini {
                top: 25%;
                height: 25%;
            }

            button {
                @include flexBar($position: relative, $align: center, $justify: center, $flex_d: row, $gap: 1%);
                @include size(45%, 100%);
                background-color: $tertiary-color;
                border-radius: 100px;
                transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
                box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.1), 0px 6px 12px rgba(0, 0, 0, 0.1);
                z-index: 10;
                @include text-layout($size: 14px, $l_height: 23px, $color: $text-color-2);

                @include phonePro {
                    @include size(50%, 45%);
                }

                @include phoneMini {
                    font-size: 12px;
                }
            
                &:hover {
                    transform: scale(1.02);
                }
            }

            .btn1 {
                border: 2px solid $primary-color;
                width: 65%;
                transition: background-color 0.3s linear;

                @include phonePro {
                    width: 70%;
                }

                &:hover {
                    background-color: $primary-color;
                    //background-image: linear-gradient(to bottom, #ff0000 0%, #00ff00 100%);
                }
            }

            .btn2 {
                border: 2px solid $text-color-3;

                &:hover {
                    background-color: $text-color-3;
                }
            }
        }
    }

    #dot_1 {
        position: absolute;
        //border: 1px solid red;
        transform: rotate(5.93deg);
        left: 45%;

        //@include size(50%, 12%);
        height: 90%;

        @include phonePro {
            border: 1px solid red;
            height: 85%;
            //@include size(50%, 80%);
            left: -10%;
        }

        @include phone {
            border: 1px solid red;
            height: 85%;
            //@include size(50%, 80%);
            left: -10%;
        }

        @include phoneMini {
            border: 1px solid red;
            height: 85%;
            //@include size(50%, 80%);
            left: -8%;
        }
    }

    #dot_2 {
        position: absolute;
        //border: 1px solid red;
        transform: rotate(170.93deg);
        left: 20%;

        //@include size(50%, 12%);
        height: 80%;

        @include phonePro {
            border: 1px solid red;
            height: 70%;
            left: 10%;
        }

        @include phoneMini {
            border: 1px solid red;
            height: 70%;
            left: 6%;
        }

    }

}

.stats {
    border: 1px solid black;
    @include flexBar($align: center, $justify: center, $gap: 3%);
    top: 85%;
    left: 0px;
    @include size(100%, 12%);

    @include tabletPro {
        height: 7%;
        top: 46%;
    }

    @include tablet {
        height: 7%;
        top: 57%;
    }

    @include tabletMini {
        height: 8%;
        top: 57%;
    }

    @include phonePro {
        top: 90%;
        height: 9%;
    }

    @include phone {
        top: 90%;
        height: 9%;
    }

    .container {
        //border: 1px solid red;
        @include flexBar($position: relative, $align: center, $justify: center, $flex_d: row, $gap: 0%);
        @include size(70%, 100%);
        border-radius: 100px;
        background-color: $tertiary-color;
        //box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.2), 0px 6px 12px rgba(0, 0, 0, 0.2);
        z-index: 10;

        @include tablet {
            width: 85%;
        }

        @include tabletMini {
            @include size(80%, 100%);
            //top: 30%;
        }

        @include phonePro {
            border: 1px solid red;
            @include size(90%, 60%);
            gap: 1%;
        }

        @include phone {
            border: 1px solid red;
            @include size(90%, 60%);
            gap: 1%;
        }

        .experience, .projects, .clients {
            border: 1px solid red;
            @include flexBar($position: relative, $align: center, $justify: center, $flex_d: row, $gap: 1%);
            @include size(30%, 70%);
            border-right: 1px solid $text-color-3;

            @include phonePro {
                border: 1px solid black;
            }

            .icon {
                border: 1px solid green;
                @include flexBar($position: relative, $align: center, $justify: center, $flex_d: row, $gap: 1%);
                @include size(20%, 100%);
                color: $primary-color;

                @include phonePro {
                    width: 20%;
                }

                .iconTag {
                    font-size: 2.5rem;

                    @include phonePro {
                        font-size: 1.5rem;
                    }

                    @include phoneMini {
                        font-size: 1rem;
                    }
                }
            }

            .label {
                border: 1px solid green;
                @include flexBar($position: relative, $align: center, $justify: center, $flex_d: column, $gap: 1%);
                @include size(46%, 100%);

                @include tabletPro {
                    width: 60%;
                }

                @include tablet {
                    width: 70%;
                }

                @include tabletMini {
                    width: 70%;
                }

                @include phonePro {
                    border: 1px solid red;
                    width: 75%;
                    gap: 0%;
                }

                .span1 {
                    border: 1px solid red;
                    @include flexBar($position: relative, $align: flex-start, $justify: center, $flex_d: column, $gap: 1%);
                    width: 100%;
                    @include text-layout($size: 14px, $l_height: 23px, $color: $text-color-2, $weight: 600);
                    @include size(100%, 50%);

                    @include phonePro {
                        font-size: 10px;
                    }

                    @include phoneMini {
                        font-size: 7px;
                    }
                }

                .span2 {
                    border: 1px solid red;
                    @include flexBar($position: relative, $align: flex-start, $justify: center, $flex_d: column, $gap: 1%);
                    width: 100%;
                    @include text-layout($size: 12px, $l_height: 23px, $color: $primary-color, $weight: 500);
                    @include size(100%, 50%);

                    @include phonePro {
                        font-size: 9px;
                    }

                    @include phoneMini {
                        font-size: 7px;
                    }
                }
            }
        }

        .clients {
            border-right: 1px solid transparent;
        }
    }
}