/* This contains the scss for the layout component */

//Libraries -->
@import "../styles/base.modules";

//Commencing the code -->

.html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
    overflow-x: hidden !important;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    //position: absolute;
    //@include size(100%, 100%);

    @include phonePro {
        //border: 1px solid red;
        
        //max-width: 100%;
    }
    
    /* Styles for the scrollbar track */
    ::-webkit-scrollbar {
        width: 10px;  /* Width of the scrollbar */
    }
    
    ::-webkit-scrollbar-track {
        background-color: #f1f1f1;  /* Background color of the track */
    }
    
    /* Styles for the scrollbar thumb */
    ::-webkit-scrollbar-thumb {
        background-color: $primary-color;  /* Color of the thumb */
        border-radius: 5px;  /* Rounded corners of the thumb */
    }
    
    /* Styles for the scrollbar thumb when hovering */
    ::-webkit-scrollbar-thumb:hover {
        background-color: $primary-color;  /* Color of the thumb on hover */
    }

    .body {
        overflow-x: hidden !important;
        //position: absolute;

        @include phonePro {
            overflow-x: hidden !important;
        }

        button {
            outline: none;

            &:active {
                @include tabletPro {
                    border: none;
                    background-color: transparent;
                }
    
                @include phonePro {
                    border: none;
                    background-color: transparent;
                }

            }

            &:hover {
                @include tabletPro {
                    border: none;
                    background-color: transparent;
                }
    
                @include phonePro {
                    border: none;
                    background-color: transparent;
                }
            }
        }
    }
}