/* This contains the scss for the layout component */

//Libraries -->
@import "../../../styles/base.modules";

//Commencing the code -->
.html {
    --scroll-behavior: smooth!important;
    scroll-behavior: smooth!important;
    overflow-x: hidden;
    overflow-y: auto;
    
}